In [1]:
# random forest regressor, birden fazla kategorik değer olan, ve bu kategorik değerlerden dolayı bazen regresyon çizgimizin
# sadece bir adet olmasının yetmeyeceği durumlarda çok kullanışlıdır, random forest classifier ile karıştırılmamalı o sınıflama
# bu adı üstünde regressor, yani tahminleme için kullanılıyor.
import numpy as np
import pandas as pd
from sklearn.linear_model import  LinearRegression
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import train_test_split

In [4]:
df = pd.read_csv('datasets/insurance.csv')

In [5]:
df.head(3
      )

   age     sex    bmi  children smoker     region     charges
0   19  female  27.90         0    yes  southwest  16884.9240
1   18    male  33.77         1     no  southeast   1725.5523
2   28    male  33.00         3     no  southeast   4449.4620

In [6]:
# sex, smoker ve region bölümlerimiz kategorik, önce onları sayısal veriye dönüştürücez
df = pd.get_dummies(df,columns=['sex','smoker','region'],drop_first = True)

In [7]:
df.head(3)

,age,bmi,children,charges,sex_male,smoker_yes,region_northwest,region_southeast,region_southwest
0,19,27.90,0,16884.9240,False,True,False,False,True
1,18,33.77,1,1725.5523,True,False,False,True,False
2,28,33.00,3,4449.4620,True,False,False,True,False

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1338 entries, 0 to 1337
Data columns (total 9 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   age               1338 non-null   int64
 1   bmi               1338 non-null   float64
 2   children          1338 non-null   int64
 3   charges           1338 non-null   float64
 4   sex_male          1338 non-null   bool
 5   smoker_yes        1338 non-null   bool
 6   region_northwest  1338 non-null   bool
 7   region_southeast  1338 non-null   bool
 8   region_southwest  1338 non-null   bool
dtypes: bool(5), float64(2), int64(2)
memory usage: 48.5 KB

In [9]:
# her zamanki gibi, y tahminlemek istediğimiz değer, x ise diğerleri olacak
x = df.drop('charges',axis=1)
y = df['charges']

In [10]:
x_train, x_test,y_train, y_test = train_test_split(x,y,test_size=0.2,random_state=22)

In [11]:
lr = LinearRegression()
model = lr.fit(x_train,y_train)
model.score(x_test,y_test)
# burada lineer regresyonla sonuç bulduk

0.757300757790294

In [12]:
rf = RandomForestRegressor()
model2 = rf.fit(x_train,y_train)
model2.score(x_test,y_test)
# burada random forest regressor ile sonuç bulduk

0.816204243208971

In [13]:
# görmüş olduğumuz gibi birçok farklı kategori olduğu için random forest regressor daha başarılı iş yaptı