In [1]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import StandardScaler,MinMaxScaler

# gerekli kütüphaneler import edildi.

In [2]:
df = pd.read_csv("datasets/Plane Price.csv")

In [3]:
df.head(3)

,Model Name,Engine Type,HP or lbs thr ea engine,Max speed Knots,Rcmnd cruise Knots,Stall Knots dirty,Fuel gal/lbs,All eng rate of climb,Eng out rate of climb,Takeoff over 50ft,Landing over 50ft,Empty weight lbs,Length ft/in,Wing span ft/in,Range N.M.,Price
0,100 Darter (S.L. Industries),Piston,145,104,91.0,46.0,36,450,900.0,1300.0,"2,050","1,180",25/3,37/5,370,1300000.0
1,7 CCM Champ,Piston,85,89,83.0,44.0,15,600,720.0,800.0,"1,350",820,20/7,36/1,190,1230000.0
2,100 Darter (S.L. Industries),Piston,90,90,78.0,37.0,19,650,475.0,850.0,"1,300",810,21/5,35/0,210,1600000.0

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 517 entries, 0 to 516
Data columns (total 16 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Model Name               517 non-null    object
 1   Engine Type              517 non-null    object
 2   HP or lbs thr ea engine  517 non-null    object
 3   Max speed Knots          497 non-null    object
 4   Rcmnd cruise Knots       507 non-null    float64
 5   Stall Knots dirty        502 non-null    float64
 6   Fuel gal/lbs             517 non-null    int64
 7   All eng rate of climb    513 non-null    object
 8   Eng out rate of climb    491 non-null    float64
 9   Takeoff over 50ft        492 non-null    float64
 10  Landing over 50ft        517 non-null    object
 11  Empty weight lbs         516 non-null    object
 12  Length ft/in             517 non-null    object
 13  Wing span ft/in          517 non-null    object
 14  Range N.M.               499 non-null    object
 15  Price                    507 non-null    float64
dtypes: float64(5), int64(1), object(10)
memory usage: 64.8+ KB

In [5]:
# veri setimiz biraz uğraştırıcı bir veri seti, bu yüzden sadece sayısal olan değerleri alsak daha kolay olacak

In [6]:
df = df [['Rcmnd cruise Knots','Stall Knots dirty','Fuel gal/lbs','Eng out rate of climb','Takeoff over 50ft','Price']]

In [7]:
df = df.dropna()
df.head(3)

,Rcmnd cruise Knots,Stall Knots dirty,Fuel gal/lbs,Eng out rate of climb,Takeoff over 50ft,Price
0,91.0,46.0,36,900.0,1300.0,1300000.0
1,83.0,44.0,15,720.0,800.0,1230000.0
2,78.0,37.0,19,475.0,850.0,1600000.0

In [8]:
x = df.drop('Price',axis = 1)
y = df['Price']
# fiyat tahmini yapacağımız için Price isimli sütunu y seçtik

In [9]:
# y 'yi asla normalize etmeyeceğiz

# normalizasyon outliers(yani aykırı değerler)'i azaltır

# model performansını artırır.

In [10]:
ss = StandardScaler()
X2 = ss.fit_transform(x)
# normalizasyonu x değerlerimize standart sapmalarına göre hesap kitap yapılacak şekilde uyguladık

In [11]:
X2 = pd.DataFrame(X2) #x2'yi bir dataframe'e dönüştürdüm
X2.head(3)

          0         1         2         3         4
0 -1.068639 -0.909101 -0.301174 -1.010356 -0.570019
1 -1.148840 -1.032013 -0.306563 -1.176676 -1.280965
2 -1.198965 -1.462203 -0.305537 -1.403055 -1.209871

In [15]:
X2[0].mean()

1.1686558153949016e-16

In [16]:
X2[0].std()

1.0010982979696863

In [17]:
#bu yöntemle, sütunlarımızın standart sapmasını 1'e ve ortalamalarını da 0'a yakın bir hale getirdik. Bu şekilde normalizasyon yapıldı

In [18]:
mm = MinMaxScaler()

In [19]:
X3 = mm.fit_transform(x)

In [20]:
X3 = pd.DataFrame(X3) #min max scaler ile yaptığımız normalizasyonu da aynı şekilde data frame haline getirdik

In [21]:
X3.head(3)

          0         1         2         3         4
0  0.051724  0.215909  0.000814  0.074541  0.183908
1  0.032020  0.193182  0.000102  0.044254  0.068966
2  0.019704  0.113636  0.000237  0.003029  0.080460

In [22]:
X3[1].max()

1.0

In [23]:
X3[1].min()

0.0

In [24]:
# bu normalizasyonda ise her bir feature'u 0 ve 1 arasına hapseder

In [25]:
# bu sayede binlerle ifade edilen feature'lar da 0 ve 1 arasındakiler de ya da ondalık olanlar da birbirine benzer ve hesaplama kolayalaşır

In [26]:
mm2 = MinMaxScaler(feature_range = (0,10))# bu kez 0 ve 1 arasına değil, 0 ve 10 arasına sıkıştırmış olduk

In [27]:
X4 = mm2.fit_transform(x)
X4 = pd.DataFrame(X4)

In [28]:
X4[1].max()

10.0

In [29]:
X4[1].min()

0.0

In [30]:
#burada da en büyük değerin 10 en küçük değerin 0 olduğunu görebiliriz.