In [1]:
from sklearn.linear_model import LinearRegression
import pandas as pd

#Gerekli kütüphaneler ve modelin importu

In [2]:
df = pd.read_csv('datasets/Student_Marks.csv')

In [3]:
df.head(5)

   number_courses  time_study   Marks
0               3       4.508  19.202
1               4       0.096   7.734
2               4       3.133  13.811
3               6       7.909  53.018
4               8       7.811  55.299

In [4]:
df.columns = ["sinif","calisma_saati","not"] # daha kolay analiz icin kolon isimleri degistirildi

In [5]:
df.head(3)

   sinif  calisma_saati     not
0      3          4.508  19.202
1      4          0.096   7.734
2      4          3.133  13.811

In [6]:
y = df[["not"]]
x = df[["calisma_saati","sinif"]] # x ve y değişkenleri datafreame olsun diye çift köşeli parantez yaptık

In [7]:
lm = LinearRegression()
model = lm.fit(x,y)
#modeli egittik x ve y degerleri uzerinden

In [8]:
# y = ax + b , bizde 2 adet a var biri sınıf biri çalışma saati var

In [9]:
model.coef_ # egitilen modeldeki her bir a değerinin ağırlığını (katsayıyı ) bize veren fonksyion

array([[5.39917879, 1.86405074]])

In [10]:
model.intercept_ # egitilen modeldeki sabit değeri bize veren kod blogu

array([-7.45634623])

In [11]:
model.predict([[4,5]]) # direkt dogru sirayla degiskemnleri vererek prediction sagladik

C:\ProgramData\anaconda3\Lib\site-packages\sklearn\base.py:493: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([[23.46062263]])

In [12]:
# calisma mantiginin saglamasini yaptigimizda ayni sonuca ulasildigini goruyoruz
(5.39917879*4) + (1.86405074*5) + (-7.45634623)

23.460622629999996

In [13]:
# modelin doğruluk oranı bulunurken, her bir değer için algoritmamızın bulduğu sonuç ve gerçek sonuçlar karşılaştırılır
# ve ortaya çıkan sonuç bize sapmayı verir.
model.score(x,y) # bu da kısaca bunu yapan fonksiyondur

0.9403656320238896