In [1]:
import pandas as pd
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split #veriyi train ve test olarak parçalamam için gerekli kütüphane

In [2]:
df = pd.read_csv('datasets/Audi_A1_listings.csv')

In [3]:
df.head(3)

,index,Year,Type,Mileage(miles),Engine,PS,Transmission,Fuel,Number_of_Owners,Price(£),href,PPY,MileageRank,PriceRank,PPYRank,Score
0,0,2018.0,Hatchback,44000.0,1.6L,114.398422,Manual,Diesel,1,14995.0,https://www.autotrader.co.uk/car-details/20221...,2499.166667,215,163,340,718
1,4,2016.0,Hatchback,42596.0,1.0L,93.688363,Manual,Petrol,3,10755.0,https://www.autotrader.co.uk/car-details/20221...,2688.750000,222,330,276,828
2,7,2015.0,Hatchback,42700.0,1.4L,123.274162,Manual,Petrol,2,10799.0,https://www.autotrader.co.uk/car-details/20221...,3599.666667,221,327,94,642

In [6]:
df = df[["Year","Type","Mileage(miles)","Engine","PS","Transmission","Fuel","Number_of_Owners","Price(£)"]] 
# sahip olunan colonları değiştirip yeni bir df değişkeni oluşturup ona atadık

In [7]:
df.head(3)

,Year,Type,Mileage(miles),Engine,PS,Transmission,Fuel,Number_of_Owners,Price(£)
0,2018.0,Hatchback,44000.0,1.6L,114.398422,Manual,Diesel,1,14995.0
1,2016.0,Hatchback,42596.0,1.0L,93.688363,Manual,Petrol,3,10755.0
2,2015.0,Hatchback,42700.0,1.4L,123.274162,Manual,Petrol,2,10799.0

In [8]:
df.columns = ["yil","kasa","mil","motor","ps","vites","yakit","sahip","fiyat"]
# colonların isimlerini değiştirdik

In [9]:
df["motor"] = df["motor"].str.replace("L","")
df["motor"]=pd.to_numeric(df["motor"])
#motor sütunundaki L harfini atıp numeric veriye cevirdik

In [10]:
df = pd.get_dummies(df,columns=["kasa","vites","yakit"],drop_first=True) # isimleri verilen sütunları dummie ettim, yani numericleştirdim

In [11]:
y = df[["fiyat"]]
x = df.drop("fiyat",axis = 1) # drop fonksiyonunun farklı şekilde kullanımı

In [12]:
x_train,x_test,y_train,y_test = train_test_split(x,y,train_size = 0.7,random_state=22) # train ve test ayırması gerçekleştirildi
# train verisi %70 i olacak tüm verinin

In [14]:
lm = LinearRegression()
model=lm.fit(x_train,y_train)
model.score(x_test,y_test) 
# model eğitildi ve skoru ogrenildi

0.9065438569490104

In [17]:
model.predict([[2016,30000,1.0,90,5,0,1]]) # bir tahminleme

C:\ProgramData\anaconda3\Lib\site-packages\sklearn\base.py:493: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([[13704.96487686]])