Makine Öğrenmesi algoritmalarında feature olarak kullanacağımız veriler bazen düzgün olmaz, ya da istediğimiz formatta olmayabilir. İstediğimiz formata getirme işlemine Ön İşleme yani Preprocessing denir.

In [1]:
import pandas as pd
from sklearn.linear_model import LinearRegression

#gerekli importlar sağlandı

In [2]:
df = pd.read_csv("datasets/Audi_A1_listings.csv")

In [3]:
# y = ax + b kullanacağız yine, a değerlerimiz olacak (features) ve bunlardan y (price) bulacağız

In [4]:
df.head(5)

,index,Year,Type,Mileage(miles),Engine,PS,Transmission,Fuel,Number_of_Owners,Price(£),href,PPY,MileageRank,PriceRank,PPYRank,Score
0,0,2018.0,Hatchback,44000.0,1.6L,114.398422,Manual,Diesel,1,14995.0,https://www.autotrader.co.uk/car-details/20221...,2499.166667,215,163,340,718
1,4,2016.0,Hatchback,42596.0,1.0L,93.688363,Manual,Petrol,3,10755.0,https://www.autotrader.co.uk/car-details/20221...,2688.750000,222,330,276,828
2,7,2015.0,Hatchback,42700.0,1.4L,123.274162,Manual,Petrol,2,10799.0,https://www.autotrader.co.uk/car-details/20221...,3599.666667,221,327,94,642
3,11,2014.0,Hatchback,86000.0,1.6L,103.550296,Manual,Diesel,3,7490.0,https://www.autotrader.co.uk/car-details/20221...,3745.000000,41,449,83,573
4,12,2014.0,Hatchback,104310.0,1.6L,103.550296,Manual,Diesel,3,7400.0,https://www.autotrader.co.uk/car-details/20220...,3700.000000,12,452,85,549

In [5]:
# önceki örnekte kullanacağımız sütunları yazmıştık fakat burada birçok sütun var kullanacağımız. O yüzden kullanmayacaklarımızı atacağız

In [6]:
df = df.drop(columns=["index","href","MileageRank","PriceRank","PPYRank","Score"])

#bu sütunlar makine öğrenmesi modelimizde anlamlı bir farklılık yaratmayacağından direkt olarak veri setinden çıkartıyoruz

In [7]:
df.head(3)

,Year,Type,Mileage(miles),Engine,PS,Transmission,Fuel,Number_of_Owners,Price(£),PPY
0,2018.0,Hatchback,44000.0,1.6L,114.398422,Manual,Diesel,1,14995.0,2499.166667
1,2016.0,Hatchback,42596.0,1.0L,93.688363,Manual,Petrol,3,10755.0,2688.750000
2,2015.0,Hatchback,42700.0,1.4L,123.274162,Manual,Petrol,2,10799.0,3599.666667

In [8]:
# kategorik verileri de numeric veriye dönüştüreceğiz

In [10]:
df.columns = ["yil","kasa","mil","motor","ps","vites","yakit","sahip","fiyat","PPY"]

# kolon isimlerini anlayacagimiz sekile getirdik

In [11]:
df.head(3)

,yil,kasa,mil,motor,ps,vites,yakit,sahip,fiyat,PPY
0,2018.0,Hatchback,44000.0,1.6L,114.398422,Manual,Diesel,1,14995.0,2499.166667
1,2016.0,Hatchback,42596.0,1.0L,93.688363,Manual,Petrol,3,10755.0,2688.750000
2,2015.0,Hatchback,42700.0,1.4L,123.274162,Manual,Petrol,2,10799.0,3599.666667

In [12]:
df["motor"] = df["motor"].str.replace("L","") # motor sütunundaki L harflerini kaldırdık

In [13]:
df["motor"] = pd.to_numeric(df["motor"]) # yine de string bir değer olan sayıları numeric bir değere dönüştürdük

In [14]:
df.head(3)

,yil,kasa,mil,motor,ps,vites,yakit,sahip,fiyat,PPY
0,2018.0,Hatchback,44000.0,1.6,114.398422,Manual,Diesel,1,14995.0,2499.166667
1,2016.0,Hatchback,42596.0,1.0,93.688363,Manual,Petrol,3,10755.0,2688.750000
2,2015.0,Hatchback,42700.0,1.4,123.274162,Manual,Petrol,2,10799.0,3599.666667

In [15]:
df = pd.get_dummies(df,columns= ["kasa","vites","yakit"],drop_first = True) # get dummies metodu ile istediğimiz sütunlardaki kategorik değişkenleri 0 ve 1 lerden oluşan
# farklı sütunlara ayırarak numeric hale getirebiliriz. drop first ile de kategoriyi saptamak için sorduğu sorulardan ilkini çıkararak
# daha verimli kod yazmaya çalışırı.z Örneğin: Gs mi fb mi bjk mi değil de gs mi fb mi sorar ikisi de 0 ise bjk dir der

In [16]:
y = df[["fiyat"]]
x = df.drop(columns=["fiyat"]) # fiyat sütunu dışındaki tüm sütunlar demek

In [17]:
lm = LinearRegression()
model = lm.fit(x,y)

In [18]:
model.predict([[2017,30000,1.6,110,1,2600,0,1]]) # gerekli verileri girerek test ettik

C:\ProgramData\anaconda3\Lib\site-packages\sklearn\base.py:493: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([[13145.9080419]])

In [19]:
model.score(x,y)

0.959529577283972