In [1]:
# MSE RMSE MAE MAPE bunlar hataların hesaplanma metodları

In [2]:
import numpy as np
import pandas as pd
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error,mean_absolute_error,mean_absolute_percentage_error #bunlar aşağıda uzun uzun yaptığımız işlemlerin fonksiyonları

In [3]:
df = pd.read_csv("datasets/insurance.csv")

In [4]:
df.head(3)

   age     sex    bmi  children smoker     region     charges
0   19  female  27.90         0    yes  southwest  16884.9240
1   18    male  33.77         1     no  southeast   1725.5523
2   28    male  33.00         3     no  southeast   4449.4620

In [5]:
df = pd.get_dummies(df,columns =["sex","smoker","region"],drop_first=True)
#kategorik değişkenleri yeni satırlarda farklı şekilde belirttik sayısal olarak

In [6]:
df.head(3)

,age,bmi,children,charges,sex_male,smoker_yes,region_northwest,region_southeast,region_southwest
0,19,27.90,0,16884.9240,False,True,False,False,True
1,18,33.77,1,1725.5523,True,False,False,True,False
2,28,33.00,3,4449.4620,True,False,False,True,False

In [7]:
#şimdi modelimizin parametrelerini değişkenlere atayacağız

y = df["charges"]
x = df.drop("charges",axis=1)

In [8]:
# modeli kuracağız

lm = LinearRegression()
model = lm.fit(x,y)

In [9]:
model.score(x,y) # kaç doğrulukla bulduk

0.7509130345985207

In [10]:
model.predict([[19,26,0,1,1,0,0,1]]) #yeni verilerle test ettik

C:\ProgramData\anaconda3\Lib\site-packages\sklearn\base.py:493: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([24517.93110714])

In [11]:
df_hata = pd.DataFrame() # df hata diye boş bir dataframe oluşturduk

In [12]:
df_hata['y'] = y # df_hata dataframe'ine bir sütun ekle adı y olsun, içindeki değerler
# de önceden belirttiğimiz y değerleri olsun

In [13]:
y_tahmin = model.predict(x) #y tahmin diye bir değişken oluştur ve içerisinde az önce
# x'lerden tahminlediğimiz değerler olsun sıralı zaten

In [14]:
df_hata['y_tahmin'] = y_tahmin # tahminler için yeni bir sütun oluştur

In [15]:
df_hata['hata'] = df_hata['y'] - df_hata['y_tahmin'] # ikisinin farkını içeren yeni bir sütun oluştur

In [17]:
df_hata.head(3)

            y      y_tahmin         hata
0  16884.9240  25293.713028 -8408.789028
1   1725.5523   3448.602834 -1723.050534
2   4449.4620   6706.988491 -2257.526491

In [18]:
df_hata['squared_error'] = df_hata['hata']**2 #tüm hataların karesini alıp yeni bir sütuna yazdırdık  MSE

In [19]:
df_hata["abs_error"]=np.abs(df_hata['hata']) # tüm hataların mutlak değerlerini aldık  MAE

In [20]:
df_hata["percent_error"] = np.abs((y-y_tahmin)/y) # tüm hataların doğruya göre oranına baktık  MAPE

In [21]:
df_hata.head(3)

,y,y_tahmin,hata,squared_error,abs_error,percent_error
0,16884.9240,25293.713028,-8408.789028,7.070773e+07,8408.789028,0.498006
1,1725.5523,3448.602834,-1723.050534,2.968903e+06,1723.050534,0.998550
2,4449.4620,6706.988491,-2257.526491,5.096426e+06,2257.526491,0.507371

In [26]:
df_hata.mean() # tüm sütunların ortalamasını karşılaştırabilmek adına yazdırdım

y                1.327042e+04
y_tahmin         1.327042e+04
hata             5.111659e-13
squared_error    3.650189e+07
abs_error        4.170887e+03
percent_error    4.203527e-01
dtype: float64

In [23]:
mean_squared_error(y,y_tahmin) #MSE

36501893.00741544

In [24]:
mean_absolute_error(y,y_tahmin) #MAE

4170.8868941635865

In [25]:
mean_absolute_percentage_error(y,y_tahmin) #MAPE

0.42035268473727033